{% extends "base.html" %}
{% load static i18n widget_tweaks %}

{% block extra-css %}
<style>
.add-row {

}

.delete-row {

}
</style>
{% endblock %}


{% block content %}
</div> <!-- end container -->

<div class="fluid-container">
<div class="row">
    <div class="col-md-5 col-md-offset-2">
        {% if message %}
        <h3>{{ message }}</h3>
        {% endif %}

      <form class="form-horizontal" role="form" action="." method="post">
          {% csrf_token %}
          {% for field in form %}
              {% if field.label == 'Has Been Seen Today' or field.label == 'DailyIdentifier ID' %}
                <div class="hidden">
                    {{ field }}
                </div>

              {% else %}
                  {% if field.errors %}
                      <div class="form-group has-error">
                          <label class="col-sm-4 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                          <div class="col-sm-8 {% if field.label == 'First visit?' %}checkbox-style{% endif %}">
                              {{ field|attr:"class:form-control" }}
                              <span class="help-block">
                                  {% for error in  field.errors %}{{ error }}{% endfor %}
                              </span>
                          </div>
                      </div>
                  {% else %}
                      <div class="form-group">
                          <label class="col-sm-4 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                          <div class="col-sm-8 {% if field.label == 'First visit?' %}checkbox-style{% endif %}">
                              {{ field|attr:"class:form-control" }}
                              {% if field.help_text %}
                                  <p class="help-block"><small>{{ field.help_text }}</small></p>
                              {% endif %}
                          </div>
                      </div>
                  {% endif %}
              {% endif %}
          {% endfor %}

          {{ activityFormSet.management_form }}

        {% for activity_form in activityFormSet %}
            <div class="activity-formset">
                {% for field in activity_form %}
                    {% if field.errors %}
                        <div class="form-group has-error">
                            <label class="col-sm-4 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                            <div class="col-sm-8 {% if field.label == 'First visit?' %}checkbox-style{% endif %}">
                                {{ field|attr:"class:form-control" }}
                                <span class="help-block">
                                    {% for error in  field.errors %}{{ error }}{% endfor %}
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                            <div class="col-sm-8 {% if field.label == 'First visit?' %}checkbox-style{% endif %}">
                                {{ field|attr:"class:form-control" }}
                                {% if field.help_text %}
                                    <p class="help-block"><small>{{ field.help_text }}</small></p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

        {% if activity_form.non_form_errors %}
            {% for error in activity_form.non_form_errors %}
                {{ error|escape }}
            {% endfor %}
        {% endif %}
          <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                  <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
              </div>
          </div>
      </form>
    </div>
    <div class="col-md-3">
        <h3 id="list-of-hits-title" class="hidden">Suggested Visitors Today</h3>
        <ul id="list-of-hits" class="list-group">
        </ul>
    </div>
</div>
</div>
{% endblock %}

{% block extra-js %}
<script src="{% static "js/jquery.formset.js" %}"></script>

<script>
    $('.activity-formset').formset({
        addText: 'Add Activity',
        deleteText: 'Remove',
        added: function() {
            $(".add-row").addClass("btn btn-success new-button-style bigMargin");
            $(".delete-row").addClass("btn btn-warning new-button-style bigMargin");
        },
        removed: function () {
            $(".delete-row").addClass("btn btn-warning new-button-style bigMargin");
            $(".add-row").addClass("btn btn-success new-button-style bigMargin");
        }
    });

    $(".add-row").addClass("btn btn-success new-button-style bigMargin");
    $(".delete-row").addClass("btn btn-warning new-button-style bigMargin");

    $("#id_visitor_name").keyup(function(eventObject) {
        console.log($(this).val());
        $("#list-of-hits").empty();

        $.ajax({
          url: "/ajax_check_for_daily_ids",
          method: "POST",
          data: { visitor_name: $(this).val() },
          cache: false
        })
          .done(function(response) {
              if ($("#list-of-hits-title").hasClass("hidden")) {
                  $("#list-of-hits-title").removeClass("hidden");
              }
              console.log(response);
              console.log(response.success);
              if (response.success) {
                  var items = response.items;
                  console.log(items.length);
                  for (var i=0; i < items.length; i++) {
                      var date = new Date(items[i].time_first_seen);
                      var html = "<a href='#' class='list-group-item maggies-autofill' data-id='";
                      html += items[i].id;
                      html += "' data-name='";
                      html += items[i].first_name;
                      html += "'><h2>";
                      html += items[i].first_name;
                      html += "</h2><p>Seen Today @ <b>";
                      html += date.toTimeString().replace(/.*(\d{2}:\d{2}).*/, "$1");
                      html += "</b></p>";
                      html += "<p>Type: <b>";
                      html += items[i].subclass_info.visitor.visitor_type;
                      html += "</b>, Is New: <b>";
                      html += items[i].subclass_info.visitor.is_new_visitor;
                      if (items[i].subclass_info.visitor.visitor_type == "PwC") {
                          html += "</b>, Cancer Site: <b>";
                          html += items[i].subclass_info.cancer_info.cancer_site_str;

                          html += "</b>, Journey Stage: <b>";
                          html += items[i].subclass_info.cancer_info.journey_stage_str;
                      } else if (items[i].subclass_info.visitor.visitor_type == "Carer") {
                          html += "</b>, PwC's Cancer Site: <b>";
                          html += items[i].subclass_info.pwc_cancer_info.cancer_site_str;

                          html += "</b>, PwC's Journey Stage: <b>";
                          html += items[i].subclass_info.pwc_cancer_info.journey_stage_str;
                      }
                      html += "</b></p>";
                      html += "</a>";
                      $("#list-of-hits").append(html);
                  }
              }

              $(".maggies-autofill").click(function(eventObject) {
                  var $this = $(this);
                  var id = $this.attr("data-id");
                  console.log("ID: " + id);
                  $.ajax({
                    url: "/ajax_get_autofill_details",
                    method: "POST",
                    data: { dailyid_id: id },
                    cache: false
                  }).done(function(response) {
                    console.log(response);
                    if (response.success) {
                        var type = response.type;

                        var obj = response.obj;
                        var visitor_name = $this.attr("data-name");
                        var cancer_site;
                        var journey_stage;
                        if (type === "PwC") {
                            cancer_site = obj.cancer_info.cancer_site;
                            journey_stage = obj.cancer_info.journey_stage;
                        } else if (type === "Carer") {
                            cancer_site = obj.pwc_cancer_info.cancer_site;
                            journey_stage = obj.pwc_cancer_info.journey_stage;
                        }
                        var gender = obj.visitor.gender;
                        var is_new_visitor = obj.visitor.is_new_visitor;
                        var nature_of_visit = obj.visitor.nature_of_visit;
                        var visitor_id = obj.visitor.id;

                        var visitor_type;
                        if (type === "PwC") {
                            visitor_type = "PWC";
                        } else if (type === "Carer") {
                            visitor_type = "CAR";
                        } else if (type === "Other") {
                            visitor_type = "OTH";
                        }

                        console.log(nature_of_visit);

                        $("#id_has_been_seen_today").prop('checked', true);
                        $("#id_dailyid_id").val(id);

                        $("#id_visitor_name").val(visitor_name);
                        $("#id_visitor_type").val(visitor_type);
                        $("#id_is_new_visitor").val(is_new_visitor);
                        $("#id_visitor_gender").val(gender);
                        $("#id_nature_of_visit").val(nature_of_visit);
                        $("#id_cancer_site").val(cancer_site);
                        $("#id_journey_stage").val(journey_stage);

                        var activities = response.activities;
                        console.log(activities);

                        for (var i=0; i < activities.length; i++) {
                            $(".add-row").trigger("click");
                        }

                        setTimeout(function() {
                            for (var i=0; i < activities.length; i++) {
                                var activity = activities[i];
                                $("select[name='form-"+i+"-activity_name']").val(activity.id);
                            }
                        }, 100);



                    }
                  });
                  console.log($this);
              });
          });
    });
</script>
{% endblock %}
