{% extends "base.html" %}
{% load static %}

{% block extra-css %}
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {% if showError %}
                <h3>YOUR DEETS ARE WRONG</h3>
                <h4>{{ message }}</h4>
                {% endif %}
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" placeholder="Email" name="username" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="Password" name="password" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            </div>
        </div>
{% endblock %}

{% block extra-js %}
{% endblock %}
