{% extends "base.html" %}
{% load static i18n widget_tweaks %}

{% block extra-css %}
{% endblock %}


{% block content %}
    <div class="container">
        <!-- Example row of columns -->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 col-sm-offset-3 control-label makeitright" for="id_sd">Date Range</label>
                    <div class="col-sm-4"><input id="date"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}

{% block extra-js %}

<script src="{% static 'js/Chart.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>

<script>
  $('#date').daterangepicker({
    locale: {
      format: 'DD-MM-YYYY'
    }});

  $('#date').on('apply.daterangepicker', function(ev, picker) {
    $.ajax({
      url: "/ajax_report_visitor_count",
      method: "POST",
      data: {
        start_date: picker.startDate.format('YYYY-MM-DD'),
        end_date: picker.endDate.format('YYYY-MM-DD')
      },
      cache: false
    }).done(function(response) {
        if (response.success) {
          var visitCount = response.leDates;
          var arrayOfDates = [];
          var arrayOfCounts = [];
          bgcArray = []
          brdcArray = []
          for (var x in visitCount) {
            console.log(visitCount[x].count);
            arrayOfDates.push(visitCount[x].date);
            arrayOfCounts.push(visitCount[x].count);
          }

          console.log(arrayOfDates);
          console.log(arrayOfCounts);

          var ctx = document.getElementById("myChart");
          var myChart = new Chart(ctx, {
              type: 'line',
              data: {
                  labels: arrayOfDates,
                  datasets: [{
                      label: "Number of People seen v Dates",
                      data: arrayOfCounts,
                      backgroundColor: 'rgba(54, 162, 235, 0.2)',
                      borderColor: 'rgba(54, 162, 235, 1)',
                      borderWidth: 1
                  }]

              },
              options: {
                  scales: {
                      yAxes: [
                        {
                          ticks: {
                            beginAtZero:true
                          },
                          scaleLabel: {
                            display: true,
                            labelString: 'Number of People per Day'
                          }
                        }
                      ],
                      xAxes: [
                        {
                          scaleLabel: {
                            display: true,
                            labelString: 'Dates people seen'
                          }
                        }
                      ]
                  }
              }
          });



        }
    })
  });


</script>

{% endblock %}
