{% extends "base.html" %}
{% load static i18n widget_tweaks %}

{% block extra-css %}
{% endblock %}


{% block content %}
    <div class="container">
        <!-- Example row of columns -->

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 col-sm-offset-3 control-label makeitright" for="id_sd">Date Range</label>
                    <div class="col-sm-4"><input id="date"></div>
                </div>
            </form>
        </div>
    </div> <!-- /container -->
{% endblock %}

{% block extra-js %}
<script>
  $('#date').daterangepicker();

  $('#date').on('apply.daterangepicker', function(ev, picker) {
    $.ajax({
      url: "/ajax_report_visitor_count",
      method: "POST",
      data: {
        start_date: picker.startDate.format('YYYY-MM-DD'),
        end_date: picker.endDate.format('YYYY-MM-DD')
      },
      cache: false
    }).done(function(response) {
        if (response.success) {
          var visitorCountRawData = response.leDates;
        }
    })
  });
</script>
{% endblock %}
